<div data-theme="retro">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="float-right">
      <div class="flex flex-nowrap">
        <div><%= image_tag current_user.avatar.url(:resized), size: '40x40', class: 'rounded-circle mr15'%></div>
        <div></div><%= "#{current_user.name}" %></div>
      </div>
      <div class="flex flex-nowrap">
        <div><%= link_to (t 'profiles.show.title'), profile_path, class: 'btn btn-accent' %></div>
        <div><%= button_to (t 'defaults.logout'), logout_path, class: 'btn btn-accent', method: :delete %></div>
      </div>
      <div class="flex flex-nowrap">
        <div><%= link_to (t 'study_times.new.title'), new_study_time_path, class: 'btn btn-accent' %></div>
        <div><%= link_to (t 'study_times.index.title'), study_times_path, class: 'btn btn-accent' %></div>
      </div>
    </div>
  </div>
</div>
