<h1>学習時間の編集</h1>

<%= form_with(model: @study_time, url: change_timestamps_study_time_path(@study_time), local: true) do |form| %>
  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', study_times_path %>
