<div class="h-[65vh] flex flex-col justify-between">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col text-center w-full mb-5">
      <% if @study_time.present? %>
        <div class="text-3xl mb-4"><%= t('.title') %></div>
          <% if current_user && current_user.study_times.exists?(status: 0) %>
            <%= link_to t('.start'), "https://twitter.com/share?url=https://studying-tracker.fly.dev/&text=#{current_user.name}さんが学習を開始しました！%0A&hashtags=StudyingTracker", class: 'btn btn-info fa-brands fa-twitter fa-2xl text-twitter w-48', target: '_blank' %>
          <% else %>
          <% end %>
        </div><br>
        <div class="flex flex-wrap -m-2">
          <% my_study_time = @study_time.select { |study| study.user == current_user } %>
          <%= render my_study_time %>
        </div><br>
        <div class="flex flex-wrap -m-2">
          <% other_study_time = @study_time.reject { |study| study.user == current_user } %>
          <%= render other_study_time %>
        </div>
      <% else %>
        <div class="h-[50vh] flex flex-col justify-between" style="display: flex; justify-content: center; align-items: center;">
          <div class="flex flex-col text-center w-full mb-20">
            <div class="text-3xl mb-4"><%= t('.no_result') %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>